
body {
    margin: 0;
}

#header {
    position: relative;
    color: #ffffff;
    background-color: #00008b;
    height: 64px;
}

.header-icon {
    float: left;
    margin: 8px;
}

.header-icon img {
    width: 48px;
    height: 48px;
}

.header-logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    float: left;
    margin-left: 16px;

}

.header-logo .ikusei {
    color: #ff0000;
}

#main {
    background-color: #f0f8ff;
    position: relative;
    display: block;
}
