
.status {
    position: absolute;
    left: 40px;
    top: 20px;
    font-size: 30px;
}

#exp-bar {
    position: absolute;
    left: 30px;
    top: 60px;
}

#avatar {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    width: 256px;
    height: 256px;
}

.buttons {
    position: relative;
    top: 80%;
}

.ikusei-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    background-color: #ff0000;
    width: 256px;
    height: 64px;
    font-size: 48px;
}
