
* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
    background-color: #f0f8ff;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    height: 80px;
    color: #ffffff;
    background-color: #00008b;
    align-items: center;
    z-index: 1;
}

.header-icon {
    display: inline-block;
    margin: 0 15px;
}

.header-icon img {
    width: 50px;
}

.header-menuicon {
    display: none;
}

.header-menu {
    display: inline-block;
    margin: 0 20px;
}

.header-menulist {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 22px;
}

.header-menulist li {
    float: left;
    margin: 0 30px;
}

.header-menulist a {
    color: #ffffff;
    text-decoration: none;
}

.main {
    display: block;
    position: relative;
    padding-top: 80px;
}

.back {
    display: inline-block;
    margin: 20px;
    padding: 5px 10px;
    border: 5px solid #0033ff;
    border-radius: 10px;
    color: #0033ff;
    background-color: #88ccff;
    font-size: 20px;
    text-decoration: none;
}

.big-button {
    display: inline-block;
    width: 80%;
    height: 150px;
    margin: 30px 10%;
    border: 5px solid #0055aa;
    border-radius: 50px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    line-height: 150px;
    box-shadow: #000000aa 0px 0px 10px;
    color: #000000;
    background-color: #ffffff;
}

.small-button {
    display: block;
    width: 300px;
    max-width: 90%;
    height: 50px;
    line-height: 50px;
    margin: 15px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #ff8800;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}



@media screen and (max-width: 760px) {
    .header {
        height: 50px;
    }

    .header-icon {
        margin: 0 15px;
    }

    .header-icon img {
        width: 30px;
    }

    .header-menuicon {
        display: inline-block;
        margin: 0 20px;
        font-size: 15px;
        color: #ffffff;
        text-decoration: none;
    }

    .header-menu {
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 0;
        position: absolute;
        left: 0;
        top: 50px;
        background-color: #000000dd;
        overflow: hidden;
        transition: height ease 0.5s;
    }

    .header-menuopen {
        height: calc(100vh - 50px);
        touch-action: none;
    }

    .header-menulist {
        margin: 30px 50px;
        width: 100%;
        font-size: 20px;
    }

    .header-menulist li {
        float: none;
        margin: 30px 0;
        padding: 5px 20px;
        border-top: 1.5px solid #ffffff;
        border-bottom: 1.5px solid #ffffff;
        transition: background-color ease 100ms;
    }

    .header-menulist li:hover {
        background-color: #ffffff55;
    }

    .header-menulist a {
        display: inline-block;
        width: 100%;
    }

    .main {
        padding-top: 50px;
    }

    .big-button {
        height: 100px;
        font-size: 25px;
        line-height: 100px;
    }
}
