
.avatar-images {
    display: flex;
    justify-content: center;
    width: 256px;
    height: 256px;
    margin: 0 auto;
    border: 5px solid #00bbff;
    background-color: #ffffff;
    position: relative;
}

.avatar-images img {
    width: 256px;
    position: absolute;
    left: 0;
    top: 0;
}

.lists {
    display: flex;
    justify-content: center;
}

.equip {
    margin: 50px auto;
    width: 600px;
    height: 350px;
    border: 2px solid #888888;
    overflow: auto;
}

.equip-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.equip-list li {
    display: flex;
    min-height: 100px;
    border: 2px solid #aaaaaa;
    background-color: #eeffdd;
    cursor: default;
}

.equip-list li:hover {
    background-color: #bbcc99;
}

.equip-selected {
    background-color: #ffddee !important;
}

.equip-list img {
    display: inline-block;
    width: 100px;
}

.equip-list div {
    display: inline-block;
    height: auto;
}

.equip-list h3 {
    margin: 10px 0 0;
}

.equip-list p {
    margin:  0;
    line-height: 100%;
}



@media screen and (max-width: 760px) {
    .equip {
        top: 100px;
        width: 280px;
        height: 300px;
    }

    .equip {
        height: 350px;
    }

    .equip-list img {
        width: 80px;
        height: 80px;
    }

    .equip-list li {
        min-height: 80px;
    }

    .equip-list h3 {
        font-size: 16px;
        margin-top: 5px;
    }

    .equip-list p {
        font-size: 12px;
    }
}
