
.event {
    margin: 0 5% 50px;
}

.event-list li {
    padding: 5px 15px 20px;
    border-bottom: 2px solid #8833aa;
}

.event-date {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    color: #555555;
    font-size: 14px;
}

.event-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.event-search {
    padding: 0 30px;
}

.event-searcher {
    display: flex;
    flex-direction: row;
}

.event-searcher input {
    margin-left: 15px;
}

.event-content {
    margin: 0 0 5px;
}



@media screen and (max-width: 760px) {
    .event-searcher {
        flex-direction: column;
    }
}
