
.avatar-field {
    display: flex;
}

.profile {

}

.profile-name {
    margin: 30px 30px 0;
    font-size: 30px;
}

.profile-expbar {
    margin: 0 30px;
    width: 210px;
    height: 30px;
    border: 5px solid #333399;
    background-color: #ffffff;
}

.profile-expbar-inner {
    width: 0;
    height: 100%;
    background-color: #33ff66;
}

.profile-exp {
    font-size: 20px;
}

.avatar-images {
    position: relative;
    display: block;
    margin: 50px auto;
    width: 400px;
    height: 400px;
}

.avatar-images img {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin: 100px auto 0;
}

.buttons a {
    display: inline-block;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    color: #ffffff;
    background-color: #ff5500;
    box-shadow: #00000044 0px -30px 30px inset, #000000bb 10px 10px 10px;
}



@media screen and (max-width: 760px) {
    .avatar-field {
        display: block;
    }

    .avatar-images {
        margin: 0 auto;
        width: 350px;
        height: 350px;
    }

    .avatar-images img {
        width: 350px;
    }

    .buttons {
        justify-content: center;
        margin-top: 20px;
    }

    .buttons a {
        height: 80px;
        line-height: 80px;
        box-shadow: #00000044 0px -20px 20px inset, #000000bb 5px 5px 5px;
    }
}
