
.main {
    display: flex;
}

.profile {
    margin: 30px;
    width: 45vw;
}

.profile-name {
    font-size: 30px;
    overflow-x: auto;
    white-space: nowrap;
}

.profile-expbar {
    width: 210px;
    height: 30px;
    border: 5px solid #333399;
    background-color: #ffffff;
}

.profile-expbar-inner {
    width: 0;
    height: 100%;
    background-color: #33ff66;
}

.profile-exp {
    font-size: 20px;
}

.avatar {
    margin: 50px auto;
    width: 400px;
}

.avatar-canvas {
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0 auto;
}

.buttons a {
    display: block;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
}

.buttons-download {
    width: 230px;
    height: 40px;
    line-height: 40px;
    border: 3px solid #558800;
    font-size: 16px;
    color: #558800;
    background-color: #ccffcc;
}

.buttons-growing {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 100px;
    font-size: 35px;
    color: #ffffff;
    background-color: #ff5500;
    box-shadow: #00000044 0px -30px 30px inset, #000000bb 10px 10px 10px;
}



@media screen and (max-width: 760px) {
    .main {
        flex-direction: column;
    }

    .profile {
        margin: 0 20px;
        width: auto;
    }

    .profile-expbar {
        margin: 0 auto;
        width: 80%;
    }

    .avatar {
        margin: 30px auto 0;
        width: 90%;
    }

    .buttons {
        margin-bottom: 30px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .buttons a {
        margin: 15px 0;
    }

    .buttons-growing {
        height: 80px;
        line-height: 80px;
        box-shadow: #00000044 0px -20px 20px inset, #000000bb 5px 5px 5px;
    }
}



@media print {
    .profile-name {
        white-space: normal;
        overflow-x: visible;
    }

    .profile-expbar-inner {
        border-right: 3px #118822 solid;
    }
}
