
.status {
    position: absolute;
    left: 40px;
    top: 100px;
    font-size: 30px;
}

#exp-bar {
    position: absolute;
    left: 30px;
    top: 140px;
}

.avater-images img {
    position: absolute;
    left: 50%;
    top: 160px;
    transform: translateX(-50%);
    width: 384px;
    height: 384px;
    display: block;
}

#aura {
    display: none;
}

@media screen and (max-width:480px) {
    .avater-images img {
        width: 256px;
        height: 256px;
    }
}

.buttons {
    position: relative;
    top: 80%;
}

.ikusei-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    background-color: #ff0000;
    width: 256px;
    height: 64px;
    font-size: 48px;
}



@media screen and (max-width: 760px) {
    .status {
        top: 70px;
    }

    #exp-bar {
        top: 110px;
    }
}
