
.newqual {
    margin: 0 3%;
}

.newqual input,
.newqual select {
    margin-left: 15px;
}

.newqual-link {
    display: block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin: 10px;
    border: 3px solid #558800;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    color: #558800;
    background-color: #ccffcc;
}

.newqual-searcher {
    display: flex;
    flex-direction: row;
}

.newqual textarea {
    margin: 0 5%;
    width: 90%;
    height: 150px;
    font-size: 20px;
}



@media screen and (max-width: 760px) {
    .newqual-searcher {
        flex-direction: column;
    }
}
