
.button {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff8800;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
